html {
  height: 100%;
  width: 100%;
}

.div_generica{
  height: 150px;
  width: 100%;
}

.h2_generico{
  margin-bottom: 0px;
  text-align: center;  
  font-size: 30px;
}

.p_generico{
  text-align: left;
  font-size: 18px;
}

#batata_inglesa{
  background-color: #5599;
}

#batata_doce{
  background-color: #369636;
}

#batata_salsa{
  background-color: #f2b74a;
}

#barra_menu{
  background-color: gray;
}

#barra_menu li{
  display: inline;
}

#barra_menu li a{
  color: #000;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  border: 2px solid #696969;
}

#barra_menu li a:hover{
  background-color: #696969;
}

#body_display{
background-color: #bdb7b7;  
}
