html {
  height: 100%;
  width: 100%;
}

.div_generica{
  height: 150px;
  width: 100%;
}

.h2_generico{
  margin-bottom: 0px;
  text-align: center;  
  font-size: 30px;
}

.p_generico{
  text-align: left;
  font-size: 18px;
}

#batata_inglesa{
  background-color: #5599;
}

#batata_doce{
  background-color: #369636;
}

#batata_salsa{
  background-color: #f2b74a;
}

#barra_menu{
  background-color: gray;
}

#barra_menu li{
  display: inline;
}

#barra_menu li a{
  color: #000;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  border: 2px solid #696969;
}

#barra_menu li a:hover{
  background-color: #696969;
}

#uniao_flasco{
  text-align: center;
}

#body_display{
background-color: #bdb7b7;  
}

#display_bock{
  display: block;
  background-color: grey;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

#display_inline{
  display: inline;
  background-color: grey;
  height: 100px;
  width: 100px;
  padding: 20px;
  border: 2px solid black;
}

#display_inline_block{
  display: inline-block;
  background-color: grey;
  height: 100px;
  width: 100px;
  padding: 20px;
  border: 2px solid black;
}

#display_none{
  display: none;
  background-color: grey;
  height: 100px;
  width: 100px;
  padding: 20px;
}

#form_cadastro{
  text-align: center;
}

#input_formulario{
  height: 10px;
  width: 500px;
  padding: 10px;
  font-size: 15px; 
}

#input_formulario:hover{
  background-color: #d4d4d4; 
}


#label_cadastro{
  /* 
font-size
  Serve para mudar a fonte do texto, aumentando ou diminuindo
font-weight
  Serve para mudar o estilo da fonte, podendo ser Bold(Negrito 700) | 0~1000(Intencidade do negrito) | 
  */
  font-size: 20px; 
  font-weight: bold;
}