<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='generic.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>Leaf Soft</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li class="has-submenu">
            <a href="#">Cadastro</a>
            <ul class="submenu">
                <li><a href="/cadastro/produto">Produto</a></li>
                <li><a href="/cadastro/cadastroPessoa">Cadastro</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="#">Relatórios</a>
            <ul class="submenu">
                <li><a href="/relatorios/produtos">Produto</a></li>
            </ul>
    </ul>
</div>

</body>
</html>
